/* 我的學分、選課紀錄 */


.div1 {
    width: 98%;
    height: 100px;
    margin-bottom: 20px;
    margin: 0px auto;

    font-family: 微軟正黑體;
   
    /* 查詢的div左邊 */
} 
.div2 {

    width:80%;
    margin-bottom: 20px;
    margin-left: 15%;
    font-family: 微軟正黑體;
    /* 每個選項的樣式 */
} 
.div3 {
    width: 98%;
    margin-bottom: 30px;
    margin-right: 20px;
    font-family: 微軟正黑體;
    text-align: center;
    clear:left;
    /* 送出資料 送出與清除 */
} 
.tr01{
     /* background-color:#D2E9FF;#2894FF*/
     line-height:40px;
    font-weight:bolder;
    font-size: 40px;
    /* 選課紀錄的表頭 */
    color:black;
     border-bottom: 5px solid #2894FF;
 
      
}

p{
    text-align: center;
}
