.div1 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    font-family: 微軟正黑體;
    float: left;
    /* 查詢的div左邊 */
}

.div2 {
    width: 98%;
    height: auto;
    margin-bottom: 20px;
    font-family: 微軟正黑體;

    /* 查詢的div右邊 */
}

.div3 {
    width: 70%;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: 微軟正黑體;
    /* 每個選項的樣式 */
}

.div4 {
    width: 98%;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: 微軟正黑體;
    text-align: center;
    clear: left;
    /* 送出資料 送出與清除 */
}

.select01 {
    width: 70%;
    height: 28px
    /* 下拉選單的樣式 */
}

.time01 {
    width: 50%;
    height: 28px
    /* 時間的樣式 */
}